<div class="container-fluid" style="background: linear-gradient(black, blueviolet)">
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3" style="color:white">Sign In</h4>
    <form class="needs-validation" novalidate="">
      <div class="row center">
        <div class="col-sm-6">
          <label for="firstName" class="form-label" style="color: white">Email Address</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
        
        <div class="col-sm-6">
          <label for="lastName" class="form-label" style="color: white">Password</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
        </div>

      <hr class="my-4">

      <button class="w-100 btn btn-dark btn-lg" type="submit">Sign in</button>
</div>

 
 
