<div class="d-flex justify-content-center" style="background-color: #9a35ef;">
    <div class="list-group mx-0 w-auto">
        <label class="list-group-item d-flex gap-2">
            <span>
                Without Ads
            </span>
        </label>
        <label class="list-group-item d-flex gap-2">
            <span>
                $14.99
                <small class="d-block text-muted"> per month</small>
            </span>
        </label>
        <label class="list-group-item d-flex gap-2">
            <span>
                $104.99
                <small class="d-block text-muted"> per year</small>
            </span>
        </label>
    </div>
    <div class="list-group mx-0 w-auto">
        <label class="list-group-item d-flex gap-2">
            <span>
                With Ads
            </span>
        </label>
        <label class="list-group-item d-flex gap-2">
            <span>
                $9.99
                <small class="d-block text-muted"> per month</small>
            </span>
        </label>
        <label class="list-group-item d-flex gap-2">
            <span>
                $69.99
                <small class="d-block text-muted"> per year</small>
            </span>
        </label>
    </div>
</div>