<nav class = "navbar navbar -expand-lg sticky-top" style ="background:linear-gradient(80deg, #73109E 0%, #2F0B62 100%); line-height: 1.6;" height ="63">
    <div class="container-fluid">
        <a class="navbar-brand" line-height="1.2em"
        margin-bottom="0"href="#" font-size="1.5rem" font-family="Gilroy,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji"style="color: white; padding: .55em 1.5em .5em"><strong>SAVE OVER 40%</strong> WHEN YOU PREPAY FOR A YEAR</a>
        <a class="sc-pGacB bIJWxp btn px-4 rounded-pill btn--secondary-outlined btn-sm btn-outline-light" routerLink="View-plans" routerLinkActive="active" target="_top" role="button" style ="background: #B535F6; color: white; border-color: #B535F6; border-radius: 100px; font-weight: 700; letter-spacing: .2em; padding: .55em 1.5em .5em; box-shadow: #2F0B62;"  rel="noopener">VIEW PLANS</a>
        <p id="promo-banner-legal" style="color:rgba(255, 255, 255, 0.7)"class="text-left small">
          Offer valid through 10/30/2022.<br>Discount applies to first year only.
          <a class="button" routerLink="See-details" routerLinkActive="active" style="color: rgba(255, 255, 255, 0.7)"><br>See offer details.</a>
        </p>
        
