<nav class="navbar navbar -expand -lg" style="background: black" >
    <div class="container-fluid" >
        <ul class="pull-left">
          <img src="assets/hbo-max-h-w-l.svg" width="160" height="27">
        </ul>
        <ul class="pull-right">
          <button type="button" routerLink="Sign-in" routerLinkActive="active" class="sc-pGacB bIJWxp btn px-4 --secondary-outlined btn-sm btn-outline-none" style="color: white; border-color: black; font-size: .75rem; font-weight: 700; letter-spacing: .2em; padding: .55em 1.5em .5em">SIGN IN</button>
          <a routerLink="Sign-up" routerLinkActive="active" class="sc-pGacB bIJWxp btn px-4 rounded-pill btn--secondary-outlined btn-sm btn-outline-light" role="button" rel="noopener" style="font-size: .75rem; font-weight: 700; letter-spacing: .2em; padding: .55em 1.5em .5em">SIGN UP NOW</a>
        </ul>
    </div>
  </nav>

