<div class="has-bg-img">
    <img class="bg-img img-fluid" src="/assets/hp-hero-hotd-sept-desktop-2.jpg" alt="no workie">
    
</div>




<!--<section id="main-ad" class="app-main-band">
    <div class="container-fluid" style="background-image: bg-image">
        <img id= "bg-image"src="/assets/hp-hero-hotd-sept-desktop-2.jpg" class="img-fluid" alt="no show">
        <div class="flex-column col-md-6 align-items-start justify-content-center">
            <div class="sc-bdfBQB ctBTHy img-wrapper-override initial-img-wrapper">
                <img src="/assets/hbo-max-h-w-l.svg" alt="DOESNT FUCKING WORK">
                <div class="sc-jrAFXE dAUKNh text rich-text w-100 w-100" id="page23957-band410128-Text410130">
                    <div class="text-center">
                        <h1 class="text-left">Now streaming blockbuster movies, epic originals, and addictive series</h1>
        
                    <p class="text-left">Plans start at $9.99/month</p>
                </div>
            </div>
            <a id="page23957-band410128-Button410142" class="sc-pGacB hoGRQK btn px-4 rounded-pill btn--primary-outlined btn-md btn-outline-light" href="https://www.hbomax.com/subscribe/plan-picker" target="_top" role="button" rel="noopener">Sign Up Now</a>
        </div>
    </div>
-->


